a {
    color: #fff;
}

.search {
    margin: 20px auto;
    width: 500px;
}

.restaurants-list {
    .card {
        margin: 0 0.5rem 20px 0.5rem;

        .card-title {
            font-size: 1.4rem;

            a {
                color: #333;

                &:hover {
                    text-decoration: none;
                    color: #326895;
                }
            }
        }

        .card-text {
            font-size: 0.9rem;
            color: #4a4a4a;
            min-height: 100px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .card-columns {
            column-count: 3
        }

        img {
            height: 250px;
            object-fit: cover;
        }
    }
}

.restaurant-detail {
    margin-top: 30px;

    p.description {
        color: #6d6d6d;
        font-size: 0.9em;
    }

    h2 {
        margin: 10px 0;
    }

    .card {
        margin: 0 0 20px 0;

        .card-title {
            font-size: 1.4rem;

            a {
                color: #333;

                &:hover {
                    text-decoration: none;
                    color: #326895;
                }
            }
        }

        .card-text {
            font-size: 0.9rem;
            color: #4a4a4a;
            min-height: 50px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .card-columns {
            column-count: 3
        }

        img {
            height: 250px;
            object-fit: cover;
        }
    }
}

.login-register-page {
    .paper {
        border: 1px solid lightgray;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        margin: 90px auto;
    }

    .errors {
        small {
            color: #ab003c;
        }
    }

    .header {
        width: 100%;
        height: 120px;
        background-color: #2196f3;
        margin-bottom: 30px;
        border-radius: 6px 6px 0 0;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80%;
        }
    }

    .wrapper {
        padding: 10px 30px 20px 30px;

        input {
            height: 50px;
            font-size: 1.2em;
        }

        .action-buttons {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: blue;
            }
        }
    }
}

.cart {
    .card {
        padding: 10px 5px;

        .card-title {
            margin: 0 10px;
        }

        .card-body {
            padding: 10px;
        }
    }

    .item {
        margin-bottom: 15px;

        &-name {
            font-size: 1em;
            color: rgba(97, 97, 97, 1)
        }

        &-price {
            font-size: 1em;
            color: rgba(97, 97, 97, 1);
            margin-left: 15px;
        }

        &-quantity {
            font-size: 0.95em;
            padding-bottom: 4px;
            color: rgba(158, 158, 158, 1);
            margin-left: 5px;
        }

        .btn {
            height: 25px;
            padding: 0;
            width: 15px;

            &.add-button {
                margin-right: 5px;
                margin-left: 10px;
            }

            &.remove-button {
                margin-right: 10px;
            }
        }
    }

    .total-wrapper {
        .badge {
            width: 200px;
            padding: 10px;
        }

        .total-label {
            font-weight: 100;
            color: gray;
        }

        .total {
            font-size: 1rem;
        }

        .order-btn-wrapper {
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}
